MVCWebAppTest/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52577/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceTest.Data.Entities" />
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceTest.Data.Entities" minOccurs="0" name="GetStatusResult" nillable="true" type="q1:ArrayOfParking_Space" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>